.primary {
    transition: 0.2s;
    color: var(--text);

    &:hover {
        transform: scale(1.025);
        opacity: 0.65;
        animation: animate 0.1s linear;
        color: var(--icon);
    }

    @keyframes animate {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0.65;
        }
    }
}

.dot {
    margin-left: 4px;
    filter: drop-shadow(0 3px 8px rgb(237 218 1 / 50%));
}

.red {
    transition: 0.2s;
    color: var(--cancel);

    &:hover {
        transform: scale(1.025);
        opacity: 0.65;
        animation: animate 0.3s linear;
        color: var(--cancel);
    }

    @keyframes animate {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0.65;
        }
    }
}
