.text {
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.72px;
    word-wrap: break-word
}

.container {
    background-color: #DEE6F5;
}

.blue {
    color: var(--blue-ui)
}

.red {
    color: var(--red-ui)
}

.green {
    color: var(--green-ui)
}

.yellow {
    color: var(--yellow-ui)
}