.dateFilter {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    p {
      color: #002CFB;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      word-wrap: break-word
    }
}
.dropdown {
    padding-top: 3px;
}